@model SchedulingWebApp.Data.Model.CourseViewModel

@{
    Layout =null;
}

    <div class="modal fade" id="coursesModal" asp-page-handler="CoursesPartial" tabindex="-1" role="dialog">
        <div class="partialBody modal-dialog" role="document"
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Select Courses:</h1>
                    <button id="coursesClosePopUp" type="button" class="closeModal" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please select all courses that you have already taken and/or have credits for:</p>
                    <form asp-asp-page-handler="CoursesPartial" class="containSelect">
                        @if (Model.Courses != null){
                            <div class="courses">
                                <ul>
                                    @* @foreach (var course in Model.Courses){
                                        <li>
                                            <input type="checkbox" id="@Model.Courses<course>.CourseCode" asp-for="@Model.Taken" value="@Model.Taken" checked="@Model.Taken" />
                                            <label for="@Model.Courses<course>.CourseCode">@Model.Course.CourseCode , @Model.Course.Name </label>
                                        </li>
                                    } *@
                                </ul>
                                <p>This is working! Course is not null</p>
                            </div>
                        } else {
                            <p>Uh Oh! You haven't selected your major! Please select a major!</p>
                        };
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button id="coursesSave" class="btn" data-save="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

<script>
    $('#coursesClosePopUp').click(function(){
        $('#coursesPartial').hide();
    })
</script>

    @*
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#coursesPopUp").click(function() {
                $("coursesPartial").modal('show');
            });
            $("#coursesClosePopUp").click(function(){
                $("coursesPartial").modal('hide');
            });
        });
    </script>
    *@